<h2>Enter your personal code</h2>

<p><%= flash[:notice] %></p>

<%= form_tag([resource_name, :two_factor_authentication], :method => :put) do %>
  <%= text_field_tag :code %>
  <%= submit_tag "Submit" %>
<% end %>

<%= link_to "Sign out", destroy_admin_user_session_path, :method => :delete %>
