<h2>Enter the authentication code from your app</h2>

<p><%= flash[:notice] %></p>

<%= form_tag([resource_name, :two_factor_authentication], :method => :put) do %>
  <%= text_field_tag :totp_code %>
  <%= submit_tag "Submit" %>
<% end %>

<%= link_to "Use Direct Code Delivery", user_two_factor_authentication_path, action: :get %>
<%= link_to "Use Backup Code", use_backup_code_user_two_factor_authentication_path, action: :get %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
