<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="flash notice"><%= notice %></p>
    <p class="flash alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
